<p-toast></p-toast>
<div class="grid p-fluid">
    <div class="col-6 md:col-6">
        <div class="card">
            <h5>Registrar nuevo usuario</h5>
            <form [formGroup]="registerFormGroup">
            <div class="grid formgrid">
                <!-- PG caja input -->
                <div class="col-12" style="padding: 5px;">
                    <label for="PG">Codigo</label>
                    <input type="text" formControlName="code" pInputText placeholder="">
                    <label for="PG">Contraseña</label>
                    <input type="password" formControlName="password1" pInputText placeholder="">
                    <label for="PG">Repite Contraseña</label>
                    <input type="password" formControlName="password2" pInputText placeholder="">
                    <label for="PG">Role</label>
                    <input type="text" formControlName="role" pInputText placeholder="">
                    <label for="PG">DNI</label>
                    <input type="text" formControlName="dni" pInputText placeholder="">
                    <label for="PG">Nombre</label>
                    <input type="text" formControlName="name" pInputText placeholder="">
                   
                    <div *ngIf="displayError" class="error-message">
                        <p style="color:red">{{errorMessage}}</p>
                    </div>
                </div>
                <div class="col-12" style="padding: 13px;">
                    <div class="flex flex-wrap gap-2">
                        <button pButton pRipple label="Registrar" type="button" (click)="register()"></button>
                    </div>
                </div>

            </div>
            </form>
        </div>
        
    </div>
</div>