<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
        
            <h5>{{'ADMIN.SHIPPING_LIST_MANAGEMENT' |translate}}</h5>
            
                <button pButton type="button" label="{{'ADMIN.ADD_SHIPPING_LIST' |translate}}" style="width: 100%;" (click)="showDialog()"></button>
                <div style="justify-content: center;display: flex;align-items: center;margin-top: 10px;">
                    <input type="text" [(ngModel)]="filterText" placeholder="{{'ADMIN.FILTER_BY_CODE' |translate}}" (input)="applyFilter()">
                </div>
                <p-dataView #dv [value]="filteredPickingList" layout="grid" [rows]="9" [paginator]="true">
                    <ng-template let-jobs pTemplate="gridItem">
                        <div class="grid grid-nogutter">
                            <ng-container *ngFor="let job of jobs">
                                <div class="col-12 md:col-4">
                                    <div class="card m-3 border-1 surface-border hover-darken">
                                       
            
                                        <div class="flex flex-column align-items-center text-center mb-3">
                                            <div class="text-2xl font-bold">{{job.code}}</div>   
                                            
                                            <div [ngClass]="{'text-red': job.status=='Completed', 'text-green':job.status=='In Progress'}" class="text-lg">
                                              {{ job.status }}
                                            </div>
                                            <div style="display: flex;margin-top:10px">
                                                <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
                                                  <i class="pi pi-trash" (click)="deleteList(job.code,$event)" style="cursor: pointer;"></i>
                                                </div>
                                                <!-- <div style="flex: 1; display: flex; align-items: center; justify-content: center; margin-left: 20px;">
                                                  <i class="pi pi-lock" (click)="closeJob(job.jobId,$event)" style="cursor: pointer;"></i>
                                                </div> -->
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-template>
                </p-dataView>

        </div>
    </div>

    <p-dialog header="{{'ADMIN.ADD_NEW_LIST' |translate}}" [(visible)]="displayDialog" [modal]="true" [style]="{width: '50vw'}">
   
        <div class="col-12" style="padding: 13px;">
            <div class="flex flex-wrap gap-2">
                <input type="text" pInputText placeholder="Codigo de la lista" [(ngModel)]="newPickingListCode" />
                <button pButton type="button" label="{{'ADMIN.ADD_OBJECT' |translate}}" (click)="showNewObjetcDialog()"></button>
                <button pButton type="button" label="{{'ADMIN.IMPORT_FROM_JSON' |translate}}" (click)="showJSONDialog()"></button>
            </div>
        </div>

    

        <p-table [value]="pickingListItems" scrollable="true" scrollHeight="500px">
          <ng-template pTemplate="header">
              <tr>
                  <th>SKU</th>
                  <th>Cantidad</th>  
                  <th></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing">
              <tr [pSelectableRow]="rowData">
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input type="text" pInputText [(ngModel)]="rowData.SKU" />
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{ rowData.SKU }}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input type="text" pInputText [(ngModel)]="rowData.quantity" />
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{ rowData.quantity }}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td>
                      <button pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="deleteRow(rowData)"></button>
                  </td>
              </tr>
          </ng-template>
      </p-table>

  
      
      <p-footer>
          <button pButton type="button" label="{{'ADMIN.CLOSE' |translate}}" icon="pi pi-times" (click)="addPickingList()"></button>
      </p-footer>
  </p-dialog>

  <p-dialog header="{{'ADMIN.ADD_OBJECT' |translate}}" [(visible)]="displayObjectDialog " [modal]="true" [style]="{width: '25vw'}">
    <div class="col-12 md:col-12">
        <div class="card">
            
            <form [formGroup]="newItemForm">
            <div class="grid formgrid">
                <!-- PG caja input -->
                <div class="col-12" style="padding: 5px; display: flex; flex-direction: column;">
                    <label for="PG">SKU</label>
                    <input type="text" formControlName="SKU" pInputText placeholder="">
                </div>
                <div class="col-12" style="padding: 5px; display: flex; flex-direction: column;">
                    <label for="PG">Cantidad</label>
                    <input type="number" formControlName="quantity" pInputText placeholder="" min="0" step="1">

                </div>
                    <div class="col-12" style="padding: 13px;">
                        <div class="flex flex-wrap gap-2">
                            <button pButton pRipple label="{{'ADMIN.ADD' |translate}}" type="button" (click)="addItem()"></button>
                        </div>
                    </div>
                
            </div>
            </form>
        </div>
        </div>
    <p-footer>
        <button pButton type="button" label="{{'ADMIN.CLOSE' |translate}}" icon="pi pi-times" (click)="hideNewObjectDialog()"></button>
    </p-footer>
  </p-dialog>


  <p-dialog header="{{'ADMIN.IMPORT_FROM_JSON' |translate}}" [(visible)]="displayJSONdialog" [modal]="true" [style]="{width: '50vw'}">
    <div class="col-12 md:col-12">
        <div class="card">  
                <textarea 
                rows="5"
                cols="30" 
                pInputTextarea 
                placeholder="[{'SKU':'SKU1','quantity':1},{'SKU':'SKU2','quantity':2}]"
                [(ngModel)]="itemJSONlist">
                </textarea>
                            
        </div>
        <div class="col-12" style="padding: 13px;">
            <div class="flex flex-wrap gap-2">
                <button pButton pRipple label="{{'ADMIN.ADD' |translate}}" type="button" (click)="addPickingListByJson()"></button>
            </div>
        </div>
        </div>
    <p-footer>
        <button pButton type="button" label="{{'ADMIN.CLOSE' |translate}}" icon="pi pi-times" (click)="hideJSONDialog()"></button>
    </p-footer>
    </p-dialog>
</div>

<style>
    .text-red {
  color: red;
}

.text-green {
  color: green;
}
</style>

